@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)
	/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)
	/**/

	//start top header
	.top-header 
		font-size: 3vw
		padding-top: 2.667vw
		padding-bottom: 2.667vw
		.container-fluid
			max-width: 100vw
			width: 100vw
	//end top-header

	.main-screen 
		height: 169.867vw
		background-size: 270vw
		background-position: left -117vw top -18vw
		padding-top: 61.7vw
		background-color: #000
		.h2 
			font-size: 6.400vw
	.h2
		font-size: 9.067vw
		margin-bottom: 4.800vw
	.h2-l 
		font-size: 6.4vw
	.sub-title 
		font-size: 6.400vw
		margin-bottom: 2.667vw
	.main-screen .h2 
		width: 33vw
	.main-screen
		.container-fluid 
			width: 95vw 
			max-width: 95vw
	.header 
		top: 13.067vw
		.container-fluid 
			align-items: flex-start
	.logo img 
		width: 14.523vw
	.menu-btn 
		cursor: pointer
	.menu-btn__row 
		width: 7.467vw
		height: 0.533vw 
		background: #fff
		border-radius: 10vw
		margin-bottom: 1.867vw
	.menu-btn__row:last-child 
		margin-bottom: 0

	//mobile menu
	.menu 
		position: fixed 
		top: 0 
		left: 0 
		width: 100% 
		height: 100% 
		z-index: 999 
		background: #000
		display: flex 
		flex-direction: column 
		justify-content: space-between
		padding: 5vw
		padding-bottom: 8vw
		overflow-y: auto
		transform: translateX(-100%)
		transition: all 0.5s
		
	.mobile-menu-header 
		display: flex 
		justify-content: space-between 
		align-items: center
	.close-btn 
		cursor: pointer
		.menu-btn__row 
			margin-bottom: 0
		.menu-btn__row:first-child 
			transform: rotate(45deg)
		.menu-btn__row:last-child 
			transform: rotate(-45deg)
			position: relative
			top: -0.5vw
	.header .container-fluid ul 
		flex-direction: column
		text-align: center
		padding-top: 3vw 
		padding-bottom: 3vw
		
		li 
			margin-bottom: 6.400vw
			margin-left: 0
		a 
			font-size: 6vw
	.mobile-menu__social 
		display: flex 
		justify-content: center
		a 
			display: block 
			margin: 0 3.200vw
	.mobile-menu__copy
		text-align: center 
		font-size: 3.200vw
		margin-top: 6.4vw
	.header .container-fluid ul a.active
		border-width: 0.533vw
	.mobile-menu__footer 
		display: block
	.menu.active 
		transform: translateX(0)
	.menu::-webkit-scrollbar
		width: 0
	.menu
		-ms-overflow-style: none
	.menu
		overflow: -moz-scrollbars-none
	.mobile-menu__social 
		img
			width: 10.133vw
			height: 10.133vw
	.company-overview__img
		width: 100vw
		left: 0vw
		top: -18.400vw
		overflow: hidden
		img 
			left: -16vw
			position: relative
			width: 115.467vw
	
	.container-fluid
		width: 87.200vw
	body 
		overflow-x: hidden
		letter-spacing: -0.15vw
		font-size: 4.8vw
	.company-overview__bg 
		width: 100%
	.company-overview 
		padding-top: 28.533vw
		padding-bottom: 28.533vw
		border-bottom: 7.200vw solid #000

	.company-overview__bg 
		background-size: 525.600vw
		background-position: top -54.667vw left -9.067vw
		
	.company-overview__content 
		width: 100%
	.img-text-section__content 
		width: 100%
	.img-text-section .container-fluid 
		flex-direction: column-reverse
	.img-text-section--reverse
		.img-text-section__content
			width: 100%
	.img-text-section__img 
		width: 46.781vw
		align-self: flex-end
		margin-top: -18.933vw
	.img-text-section__content 
		padding-top: 8vw
	.img-text-section 
		padding-bottom: 32vw
	.img-text-section--reverse 
		.container-fluid
			flex-direction: column
	.img-text-section--reverse .img-text-section__img 
		align-self: flex-start
		width: 69.765vw
	.critical-minerals 
		background: url('../img/mob-bg.png')
		background-size: cover
		padding-top: 0
		padding-bottom: 16vw
	.cm-bg 
		position: static 
		width: 100vw
		margin-bottom: 8vw 
		display: block
	.critical-minerals__header 
		width: 100%
	.critical-minerals__item-title 
		font-size: 3.733vw
		margin-bottom: 3.200vw
	.critical-minerals__item 
		margin-top: 7.200vw
	.critical-minerals__item-row 
		flex-direction: column
	.critical-minerals__icon-wrapper img 
		width: 16.533vw
	.critical-minerals__icon-wrapper 
		margin-right: 5.333vw
	.critical-minerals__icon-title 
		font-size: 3.733vw
		margin-top: 2.667vw
	.critical-minerals__item-col 
		flex-wrap: wrap
	.critical-minerals__item-col--2 
		margin-top: 4.800vw

	.critical-minerals__item-col--2 img 
		margin-left: 0
		width: 13.333vw
		margin-right: 3.200vw
		margin-bottom: 3.200vw
	.critical-minerals__item-col--2 
		max-width: 80vw
	.critical-minerals__footer 
		font-size: 3.733vw
		margin-top: 8vw
	.text-section__content 
		width: 100%
		padding-top: 4.167vw
		padding-bottom: 7.986vw
	.text-section 
		padding-top: 16vw
		padding-bottom: 32vw
	.chart-row
		flex-direction: column
	.chart1, 
	.chart2 
		width: 100%
	.chart1 
		margin-bottom: 16vw
	.chart-section .container-fluid 
		padding-top: 96vw
		padding-bottom: 16vw
	.chart-section-text 
		padding-top: 8vw
	.text-14 
		font-size: 3.733vw
	.chart-section__img 
		width: 46.781vw
	.footer .container-fluid 
		flex-direction: column-reverse
	.footer a img 
		width: 10.133vw
	.footer 
		padding-top: 8vw 
		padding-bottom: 8vw
	.about-hero  
		height: 147.733vw
		background-size: 186vw
		background-position: top 17vw left -52vw
		background-repeat: no-repeat
		padding-top: 61vw
		.container-fluid 
			width: 94vw
			max-width: 94vw
	.about-hero__title 
		width: auto
		line-height: 0.85
	.about-hero__title 
		font-size: 6.400vw
		width: 40vw
	.header--black
		.menu-btn__row
			background: #000
		.menu ul li a 
			color: #fff
		.close-btn
			.menu-btn__row 
				background: #fff
	.about-row 
		flex-direction: column
	.about-item 
		width: 100%
		padding-bottom: 16vw
		
	.about-item:first-child 
		border: none
		padding-right: 0
		
	.about-item:nth-child(2) 
		padding-left: 0
	.about 
		padding-bottom: 0
	.team-list 
		flex-direction: column
	.team__item 
		width: 100%
	.team__item .team__item-img 
		
	.team__item-img-wrapper 
		overflow: hidden
		height: 100vw
		border-radius: 2.667vw
	.team 
		padding-top: 148.533vw
		background-size: 198vw
		background-position: top 15vw center
	.team-list 
		padding-top: 16vw
	.team__item-name 
		padding-top: 4.800vw
	.team__item-sub-title 
		font-size: 4.267vw 
		margin-top: 0.533vw
	.team__item p 
		padding-top: 2.667vw
	.team__item 
		margin-bottom: 16vw
	.contact-main-screen__title
		font-size: 6.4vw
		width: 40vw
	.contact-main-screen
		background-size: 182.400vw
		height: 134.400vw
		background-repeat: no-repeat
		background-position: top 17vw left -50.667vw
		padding-top: 49.067vw
		.container-fluid 
			width: 92vw 
			max-width: 92vw
	.contact-content
		.container-fluid 
			flex-direction: column
	.contact-form 
		width: 100%
		padding-top: 10vw
	.input 
		height: 12.800vw
		border-radius: 0.533vw
		margin-bottom: 6.400vw
		padding: 0 12.267vw
		background-size: 5vw
		background-position: center left 4.400vw
		font-size: 5.333vw
	.input-mobile
		background-size: 3.5vw
	.textarea 
		height: 100.533vw
		border-radius: 0.533vw
		margin-bottom: 16vw
		padding: 0 8.533vw
		padding-top: 4vw
		font-size: 5.333vw
	.contact-info 
		width: 100%
	.contact-info
		flex-direction: column-reverse
	.submit-button 
		margin-left: auto 
		margin-right: auto
		width: 68.267vw
		height: 13.333vw
		border-radius: 2.667vw
		margin-bottom: 16vw
		font-size: 4.267vw
		position: static 
		transform: translate(0)
		display: block
	.contact-info__wrapper
		font-size: 5.333vw
	.mail-map-item:first-child 
		margin-bottom: 6.400vw
	.contact-page-social__item
		margin-bottom: 6.400vw
	.mail-map-icon-wrapper 
		min-width: 12vw
	.mail-map-icon-wrapper img 
		height: 9.600vw
	.contact-info__item:first-child 
		margin-bottom: 16vw
	.contact-page-social__icon-wrapper 
		min-width: 11.467vw
	.contact-page-social__item img 
		height: 4.533vw
		max-width: 5.600vw
	.contact-content 
		padding-bottom: 13vw
	.investors  
		padding-top: 120vw
		background-color: #000
		background-size: 160.133vw
		background-position: top 8vw center
	.investors-item 
		width: 100%
	.investors-item__img-wrapper 
		width: 87.200vw
		height: 89.867vw
	.investors-item__title 
		font-size: 6.400vw
		margin-bottom: 2.667vw
	.investors-item p 
		font-size: 6.4vw
	.investors-list 
		padding-top: 16vw
	.investors-item__img-wrapper 
		margin-bottom: 5.008vw
	.investors-item 
		margin-bottom: 16vw
	.investors-item 
		padding: 0
	.investors-item__img-wrapper:after 
		width: 6.133vw
		height: 19.467vw
	.investors-modal__title 
		font-size: 6.4vw
		width: 100%
		margin-bottom: 8vw
	.investors-modal 
		padding-top: 23vw
	.close-modal img 
		width: 5.333vw
	.close-modal
		top: 8vw
	.count 
		font-size: 5.333vw
	.counter 
		padding-top: 5.867vw
	.next-btn,
	.prev-btn
		width: 6.4vw
		top: 100%
		transform: translateY(75%)
	.prev-btn 
		left: 30vw
	.next-btn 
		right: 30vw
	.investors__img 
		width: 87.200vw
	.button 
		width: 68.267vw 
		height: 13.333vw
		border-radius: 2.667vw
		font-size: 4.267vw
	.investors-wrap 
		padding-bottom: 16vw
	.projects-hero  
		height: 138.667vw
		background-size: 181vw
		background-position: top 17vw left -34vw
		background-repeat: no-repeat
	.projects-hero 
		padding-top: 48.5vw
		.container-fluid
			width: 90vw 
			max-width: 90vw
		.h2 
			font-size: 6.400vw
			width: 37vw
	.hombolo-row 
		flex-direction: column
	.hombolo-item 
		width: 86%
		margin-left: auto 
		margin-right: auto
		margin-bottom: 8vw
	.hombolo 
		padding-top: 8vw
		padding-bottom: 62.933vw
	.hombolo-row 
		margin-top: 16vw
	.hombolo-item img 
		height: 19.733vw
		margin-bottom: 6.400vw
	.hombolo 
		background-size: 83.200vw
	.project-content 
		width: 100%
	.project-location-wrapper 
		padding-top: 16vw 
		padding-bottom: 94.667vw
	.project-location-wrapper 
		background-position: bottom 16vw right
		background-size: 100vw
	.project-location 
		background-size: cover
		.sub-title.regular 
			margin-bottom: 0
	.project-potencial--1
		padding-top: 0 
		padding-bottom: 0
		.container-fluid
			padding-top: 16vw 
			padding-bottom: 57.600vw
	.project-potencial--2
		padding-top: 0 
		padding-bottom: 0
		.container-fluid
			padding-top: 58.133vw 
			padding-bottom: 16.533vw
	.pl 
		width: 43.467vw
	.global-market 
		background-size: 289vw
		background-position: top center
		padding-top: 15.467vw 
		padding-bottom: 16vw
		.container-fluid 
			flex-direction: column-reverse
	.global-market__img 
		width: 87.200vw
		margin-top: 8vw
	.batteries 
		padding-top: 16vw
		padding-bottom: 57.867vw
	.batteries__content 
		width: 100%
	.batteries__row 
		flex-direction: column
	.graph 
		width: 100%
	.batteries__col 
		width: 100% 
		height: auto
	.batteries__col img
		width: 39.467vw
		margin-bottom: 8vw
	.batteries__row 
		padding-top: 16vw
		.text-18 
			font-size: 4.800vw
			margin-bottom: 8vw
	.text-18
		font-size: 4.8vw
	.batteries__col 
		padding-top: 7.733vw
	.forecast-img  
		width: 42.085vw
	.forecast 
		.container-fluid 
			padding-top: 66.133vw
			padding-bottom: 16vw

	.forecast__content 
		width: 100%
	.forecast__row .text-24 
		width: 100%
	.chart-2 
		width: 100% 
		margin-top: 0 
		margin-left: 0
	.forecast__row .legend-2 
		width: 48.800vw
	.forecast__row 
		display: flex 
		flex-direction: column
	.forecast__row .text-24 
		order: 1
		margin-bottom: 8vw
	.chart-2 
		order: 2
	.forecast__row .legend-2 
		order: 3
		margin-top: 8vw
	.forecast .text-18 
		font-size: 4.800vw
	.forecast__row 
		padding-bottom: 8vw
	.forecast__row 
		padding-top: 10vw
	.tables-row 
		flex-direction: column
	.table1,
	.table2 
		width: 100%
	.table1 
		margin-bottom: 12vw
	.electric-wrapper 
		padding-top: 81.333vw
		padding-bottom: 16vw
		background-size: 45.928vw
	.electric 
		background-size: cover
		.h2 
			width: 50vw
	.header--black .menu li a.active
		border-color: #fff
	.header .container-fluid ul a:hover
		border-bottom: .533vw solid #fff
	.header--black .container-fluid ul a:hover
		border-bottom: .533vw solid #fff 
	.top
		width: 10vw 
		height: 10vw
		right: 5vw 
		bottom: 5vw

	















	

	
	

		








/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)
	/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/





