@import "vars"
@import "fonts"

//start global style
body 
    font-family: $main-font
    font-size: 1.250vw
    font-weight: 400
    line-height: 1.2
    box-sizing: border-box
    font-weight: 400
    letter-spacing: -0.05vw
.container-fluid 
    width: 69.861vw 
    max-width: 87.200vw
    padding-left: 0 
    padding-right: 0
p 
    margin-bottom: 0
.h2 
    text-transform: uppercase
    color: #fff
    line-height: 0.9
    font-weight: 700
    font-size: 2.361vw
    margin-bottom: 1.250vw
    span 
        color: $orange
        
.h2-l 
    font-size: 2.778vw
    display: block
.sub-title 
    font-size: 1.667vw
    font-weight: 700 
    text-transform: uppercase
    margin-bottom: 0.694vw
    line-height: 1.1
    span 
        display: block 
        font-weight: 400
.white 
    color: #fff
.black 
    color: #000
.grey 
    color: #545454
.gold 
    color: $gold
.h2 
    .gold 
        color: $gold
.h2 
    .grey 
        color: #A3A3A3
.light-grey 
    color: #D9D9D9
.h2 
    .light-grey 
        color: #D9D9D9
.container-fluid--1000
    width: 75vw
    max-width: 87.200vw
.text-14
    font-size: 0.972vw 
    font-weight: 700
.sub-title--light-grey 
    color: #D9D9D9
.regular 
    font-weight: 400
//end global style

//start top-header
.top-header 
    text-align: center
    font-size: 0.972vw
    text-align: center
    background: #000
    color: #fff
    padding: 0.694vw 0
    position: absolute 
    top: 0 
    left: 0 
    width: 100%
    letter-spacing: 0vw
//end top-header

//start main screen style
.main-screen
    background: url('../img/hero.png')
    background-size: 100vw
    background-repeat: no-repeat
    height: 64.097vw
    padding-top: 33.611vw
    .container-fluid 
        width: 93.472vw
    .h2 
        text-align: right
        width: 46.944vw

//end main-screen style

//start header style
.header 
    color: #fff
    position: absolute 
    top: 4.375vw
    width: 100%
    .container-fluid 
        width: 83.333vw 
        max-width: 83.333vw
        display: flex
        justify-content: space-between 
        align-items: center
        ul 
            display: flex 
            padding: 0 
            margin: 0 
            list-style: none
            a 
                color: #fff
                text-decoration: none
                font-size: 1.250vw
                padding-bottom: 0.417vw
                padding-top: 0.417vw
            a.active 
                font-weight: 700
                border-bottom: 0.139vw solid #fff 
            li 
                margin-left: 2.778vw
.logo 
    img 
        width: 4.769vw
.mobile-menu-header,
.mobile-menu__footer
    display: none
//end header style

//start company overview style
.company-overview 
    padding-top: 11.6vw
    padding-bottom: 10vw
    position: relative
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(252, 252, 252, 0.52) 52.08%, rgba(217, 217, 217, 0.44) 100%)
    .container-fluid 
        display: flex 
        justify-content: flex-end
.company-overview__content
    width: 38vw
    position: relative
    z-index: 3

.company-overview__bg
    height: 100% 
    width: 84.722vw 
    background: #000
    background-image: url('../img/co.png')
    background-size: auto 40.972vw
    background-repeat: no-repeat
    position: absolute 
    top: 0 
    right: 0
.company-overview__img 
    position: absolute 
    width: 39.792vw
    top: -6.736vw
    left: 0
    img 
        width: 100%
//end company overwiew style

//start market-opotunity style
.img-text-section 
    padding-bottom: 6.597vw
    position: relative
    z-index: 4
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(252, 252, 252, 0.52) 52.08%, rgba(217, 217, 217, 0.44) 100%)
    .container-fluid
        display: flex 
        justify-content: space-between
        align-items: flex-start
.img-text-section__content 
    padding-top: 13.333vw
    width: 48.611vw
.img-text-section__img
    margin-top: -5.764vw
.img-text-section__img 
    width: 16.111vw
.img-text-section--reverse 
    padding-bottom: 6.250vw
    .img-text-section__content
        width: 42.083vw
        padding-top: 10.694vw
    .img-text-section__img 
        width: 24.073vw
//end market opotunity style 

//start critical-minerals style
.critical-minerals
    padding-top: 5.903vw
    padding-bottom: 5.7vw
    background: url('../img/cm.png')
    background-repeat: no-repeat
    background-size: 100vw
    color: #fff
    position: relative
.critical-minerals__header
    width: 40.360vw
.critical-minerals__item
    margin-top: 1.6vw
.critical-minerals__item-title 
    font-size: 0.972vw
    margin-bottom: 0.833vw
.critical-minerals__item-row
    display: flex
    align-items: flex-start
.critical-minerals__icon-wrapper
    text-align: center
    img 
        width: 4.306vw
.critical-minerals__icon-title
    font-size: 0.972vw
    margin-top: 0.694vw
    font-weight: 600
    text-transform: uppercase
.critical-minerals__icon-wrapper 
    margin-right: 1.389vw
.critical-minerals__item-col
    display: flex
.critical-minerals__item-col--2 
    padding-top: 0.417vw
.critical-minerals__item-col--2
    img 
        margin-left: 0.833vw
        width: 3.472vw
.critical-minerals__item-col--1
    min-width: 17.986vw
.cm-bg 
    position: absolute 
    top: 0 
    right: 0
    width: 43.333vw
.critical-minerals__footer 
    font-weight: 700 
    font-size: 0.972vw
    margin-top: 2.083vw
//end critical-minerales style

//start text-section 
.text-section 
    padding-top: 4.375vw
    padding-bottom: 4.375vw
    background: #F4F4F4
.text-section__content 
    width: 42.083vw
.text-18 
    font-size: 1.250vw
.h2
    .black 
        color: #000
//end text-section

//start chart-section style
.chart-section 
    background: #202326
    
    .container-fluid 
        position: relative
        padding-top: 10.208vw 
        padding-bottom: 7.361vw
.chart-section__img 
    position: absolute 
    top: -22vw 
    right: 0
    width: 16.111vw
.chart-row 
    display: flex 
    justify-content: space-between
.chart1
    width: 35.486vw
.chart2
    width: 30.625vw
.chart-section-text 
    margin-top: 2.083vw
//end chart-section style

//start footer 
.footer 
    background: #000
    color: #fff
    padding-top: 4.167vw 
    padding-bottom: 4.167vw
    .container-fluid 
        display: flex 
        justify-content: space-between 
        align-items: center
    a 
        text-decoration: none
        margin-left: 1.667vw
        img 
            width: 2.639vw
.mobile-menu__copy
    font-size: 1.111vw
//end footer

//start about hero 
.about-hero 
    height: 69.097vw
    background: url('../img/about.png')
    background-size: 100vw
    padding-top: 26.806vw
    background-repeat: no-repeat
    .container-fluid
        display: flex 
        justify-content: flex-end
        width: 74vw
.about-hero__title 
    width: 28vw
    
//end about hero
.header--black
    .menu 
        li a 
            color: #000
        li a.active 
            border-color: #000
.about-item 
    width: 50%  
    padding-top: 6.111vw
    padding-bottom: 6.111vw
    p 
        margin-bottom: 0.694vw     
.about-row
    display: flex
.about-item:first-child 
    border-right: 0.139vw solid $gold
    transform: translateX(0.4vw) 
    padding-right: 4.722vw
.about-item:nth-child(2)
    padding-left: 4.722vw
    text-align: right
.about 
    padding-bottom: 3.750vw

//start team style 
.team 
    padding-top: 52.083vw
    padding-bottom: 4.167vw
    background-color: #000
    background-image: url('../img/team.png')
    background-size: 100vw 
    background-repeat: no-repeat
.team-list 
    padding-top: 4.167vw
.team-list 
    display: flex 
    justify-content: space-between
.team__item 
    width: 15vw
    img 
         
        object-fit: cover 
        object-position: center
    p 
        padding-top: 0.694vw
.team__item-img-wrapper
    height: 16.667vw  
    overflow: hidden
    border-radius: 0.694vw
    overflow: hidden

.team__item-img 
    height: 100%
    min-width: 100%
    position: relative 
    left: 0vw
    top: 0vw
    object-fit: cover
    object-position: center

    
.team__item-name 
    padding-top: 1.250vw
    font-weight: 700 
    color: $gold 
    text-transform: uppercase
.team__item-sub-title 
    font-size: 1.111vw
    color: #fff
    margin-top: 0.139vw
//end team style 

//start contact style 
.contact-main-screen 
    height: 64.236vw
    background: url('../img/contact-bg.png')
    background-size: 100vw
    background-position: top 1vw center
    padding-top: 27.014vw
    .container-fluid 
        display: flex 
        justify-content: flex-end
        width: 88vw
        max-width: 88vw
.contact-main-screen__title 
    width: 35vw
//end contact style

//start contact-content style 
.contact-content
    padding-top: 4.653vw
    padding-bottom: 4.653vw
    .container-fluid 
        display: flex 
        justify-content: space-between
.contact-form 
    width: 44.375vw
.contact-info 
    width: 19.792vw
.input 
    width: 100%
    height: 3.333vw
    background: #E4E7EB
    border-radius: 0.139vw
    border: none
    outline: none
    padding: 0 3.125vw
    font-size: 1.389vw
    font-family: $main-font
    margin-bottom: 1.667vw
.input::placeholder 
    color: #A1A1A1
.input:focus::placeholder 
    color: transparent
.input-name 
    background-image: url('../img/user.svg')
    background-repeat: no-repeat
    background-position: left 1.146vw center
    background-size: 1.389vw
.input-email
    background-image: url('../img/mail.svg')
    background-repeat: no-repeat
    background-position: left 1.146vw center
    background-size: 1.389vw 
.input-mobile
    background-image: url('../img/mobile.svg')
    background-repeat: no-repeat
    background-position: left 1.146vw center
    background-size: 1.1vw
.textarea 
    width: 100% 
    height: 26.181vw
    background: #E4E7EB
    border: none
    border-radius: 0.139vw
    font-size: 1.389vw
    padding: 0 1.111vw
    padding-top: 1.042vw 
    outline: none
.textarea::placeholder 
    color: #A1A1A1
.contact-info
    min-height: 100% 
    display: flex
    flex-direction: column 
    justify-content: space-between 
.submit-button
    width: 17.778vw 
    height: 3.472vw
    border: none
    background: $orange
    font-weight: 700 
    text-transform: uppercase
    font-size: 1.111vw
    border-radius: 0.694vw
    transition: all .3s
    position: absolute 
    bottom: 0 
    right: 0
    transform: translateX(130%)
.contact-form 
    position: relative
.submit-button:hover 
    background: rgba($orange, 0.6)
    color: #fff
.contact-info__item:first-child 
    margin-bottom: 4.167vw
.contact-info 
    font-size: 1.389vw
.mail-map-item 
    display: flex 
    align-items: center
    align-items: center
.mail-map-item:first-child
    margin-bottom: 1.667vw
.mail-map-icon-wrapper
    min-width: 4.167vw
    img 
        height: 2.500vw
.contact-page-social__item 
    display: flex 
    align-items: center
    margin-bottom: 1.667vw
.contact-page-social__icon-wrapper 
    min-width: 3.056vw
.mail-map-item 
    color: #000 
    text-decoration: none
.mail-map-item:hover 
    color: #000 
.contact-page-social__item
    img 
        height: 1.201vw
        max-width: 1.458vw
.contact-main-screen 
    background-repeat: no-repeat
    
//end contact-content style 

//start investors style
.investors 
    padding-top: 51.875vw
    background: url('../img/investors-hero.png')
    background-color: #000
    background-size: 100vw
    background-repeat: no-repeat
    
.investors-wrap
    background: linear-gradient(180deg, #000000 0%, rgba(#545454, 0.838542) 116.93%, #0000 156.17%)
    padding-bottom: 8.333vw
.investors-list 
    padding-top: 8.333vw
    color: #fff
.investors-list
    display: flex
    flex-wrap: wrap
.investors-item
    width: 33.3%
    padding: 0 1.806vw
    margin-bottom: 4.167vw
    cursor: pointer
    p 
        font-size: 1.667vw
        margin-top: 0.833vw
.investors-item__img-wrapper 
    position: relative
    width: 20vw
    height: 20.625vw
    border-radius: 0.694vw
    margin-bottom: 1.250vw
    img 
        width: 100% 
        height: 100% 
        object-fit: cover 
        object-position: center
.investors-item__img-wrapper:after 
    content: ''
    width: 1.599vw 
    height: 5.069vw
    border-radius: 10vw
    background: #C55828
    display: block 
    position: absolute 
    top: 50% 
    left: 50% 
    transform: translateX(-50%) translateY(-50%)
.investors-item__title 
    font-size: 1.667vw
    font-weight: 700
    span 
        color: $orange

.investors-modal 
    position: fixed 
    top: 0 
    left: 0 
    width: 100% 
    height: 100%
    background: rgba(#000, 0.85)
    padding-top: 3vw
    display: none
    z-index: 999
    
.investors-modal__title
    text-align: center
    width: 36.250vw 
    margin-left: auto 
    margin-right: auto
    font-size: 1.944vw 
    font-weight: 700
    margin-bottom: 2.5vw
.investors__img
    width: 80vw
    display: block 
    margin-left: auto 
    margin-right: auto
.slider-item
    embed 
        width: 80vw
        height: 90vh
        display: block
        margin-left: auto
        margin-right: auto

.investors__img
    width: 80vw
.investors-modal
    overflow-y: auto
    padding-bottom: 20vw 
.investors-modal::-webkit-scrollbar
    width: 0
.investors-modal
    -ms-overflow-style: none
.investors-modal
    overflow: -moz-scrollbars-none
.slider-wrapper
    position: relative
.prev-btn 
    top: 50% 
    transform: translateY(-50%)
    position: absolute
    left: 7vw
.next-btn 
    top: 50% 
    transform: translateY(-50%)
    position: absolute
    right: 7vw
.pagingInfo 
    color: #fff
.counter 
    text-align: center
    padding-top: 1.736vw

.close-modal
    position: absolute
    top: 3.5vw
    right: 3.5vw
    z-index: 99
    img 
        width: 1.389vw
.next-btn,
.prev-btn
    width: 1.667vw
.button
    background: #C55828
    margin-left: auto 
    margin-right: auto
    width: 17.778vw
    height: 3.472vw 
    display: flex 
    justify-content: center 
    align-items: center
    border-radius: 0.694vw
    text-transform: uppercase
    font-size: 1.111vw
    font-weight: 700 
    color: #000
    cursor: pointer
    margin-top: 4.167vw
    transition: all 0.3s
.button:hover,
.submit-button:hover
    background: rgba(#C55828, 0.8)
    transition: all 0.3s
    color: #fff
//end investors style 
.count
    letter-spacing: 0.15vw
    font-size: 1.389vw

//start projects style
.projects-hero 
    height: 64.236vw
    background: url('../img/projects-hero.png')
    background-size: 100vw
    padding-top: 25.7vw
    .container-fluid 
        width: 85vw
    .h2 
        width: 33vw
        letter-spacing: -0.1vw
.hombolo
    padding-top: 5vw
    padding-bottom: 16.389vw
    background: url('../img/hombolo.png')
    background-repeat: no-repeat
    background-position: bottom center
    background-size: 21.667vw
    text-align: center
.hombolo-row 
    display: flex 
    justify-content: space-between
    margin-top: 4.722vw
.hombolo-item
    width: 14.722vw
    img 
        height: 5.139vw
        margin-bottom: 1.667vw
.hombolo-item
    .sub-title 
        span 
            display: inline-block
            font-weight: 700

//end projects style 
.project-location 
    background: url('../img/location.png')
    background-size: 100vw
.project-content 
    width: 40.417vw
.project-location-wrapper 
    background: url('../img/map.png')
    background-size: 43.611vw 
    background-repeat: no-repeat 
    background-position: top right
    padding-top: 8.958vw 
    padding-bottom: 8.958vw
.project-potencial
    padding-top: 0 
    padding-bottom: 0
    
    .container-fluid
        padding-top: 12.292vw
        padding-bottom: 12.292vw 
        position: relative
    .img-text-section__content 
        padding-top: 0
    .sub-title 
        span
            font-weight: 700
            display: inline
.pl 
    position: absolute 
    top: 0 
    right: 0
    width: 18.472vw
    transform: translateY(-50%)
.global-market 
    padding-top: 6.389vw 
    padding-bottom: 6.389vw   
    background: url('../img/gm.png')
    background-size: 100vw
    .container-fluid 
        display: flex 
        justify-content: space-between 
        align-items: center
    .h2 
        text-align: justify
.global-market__img
    width: 44.722vw
.batteries
    padding-top: 5.972vw 
    padding-bottom: 5.972vw
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(252, 252, 252, 0.52) 52.08%, rgba(217, 217, 217, 0.44) 100%)
    .container-fluid 
        display: flex 
        justify-content: flex-end  
.batteries__content 
    width: 47.639vw
.batteries__row
    display: flex
    justify-content: space-between
    padding-top: 4.722vw
.batteries__col 
    width: 10.347vw
    height: 33.194vw
    display: flex 
    flex-direction: column 
    justify-content: space-between
    img 
        width: 100%
.graph 
    width: 35.417vw
.forecast 
    .container-fluid 
        padding-top: 4.722vw
        padding-bottom: 4.722vw
        display: flex 
        justify-content: flex-end
        position: relative
.forecast__content
    width: 47.639vw
.forecast__row 
    padding-top: 4.167vw
    padding-bottom: 2.083vw
    .text-24 
        width: 12vw
    .legend-2
        width: 12.7vw
        margin-top: 3.3vw
.chart-2
    width: 29.167vw
    margin-top: -8vw
    margin-left: 5vw
.forecast-img 
    position: absolute 
    top: 0 
    left: 0
    transform: translateY(-50%)
    width: 18.403vw
.electric-wrapper
    padding-top: 7.083vw
    padding-bottom: 7.083vw
.electric
    background: url('../img/el.png')
    background-size: 100vw
.tables-row
    display: flex 
    justify-content: space-between
    padding-top: 4.167vw
.table1
    width: 30.345vw
.table2 
    width: 30vw
.electric-wrapper 
    background: url('../img/car.png')
    background-repeat: no-repeat 
    background-position: top right 
    background-size: 21.597vw
.header .container-fluid ul a:hover 
    border-bottom: 0.139vw solid #fff 
.header--black .container-fluid ul a:hover 
    border-bottom: 0.139vw solid #000
.mobile-menu__social a img 
    transition: all 0.3s

.mobile-menu__social a img:hover 
    opacity: 0.7
.investors-item,
.investors-item:hover
    color: #fff 
    text-decoration: none  
.top
    position: fixed
    right: 3vw
    bottom: 3vw
    width: 3vw
    height: 3vw
    display: none
    justify-content: center
    align-items: center
    background: #202326
    border-radius: 50%
    text-decoration: none
    z-index: 999
    svg 
        width: 50%
        transform: rotate(180deg)
        fill: #fff
    a
        width: 100%
        height: 100%
        display: flex
        justify-content: center
        align-items: center
        text-decoration: none
.submit-button
    color: #000
.submit-button:hover
    color: #fff
@import "media"




